[Unit]
Description=OpenClaw AI Assistant Gateway{% if openclaw_server_domain %} ({{ openclaw_server_domain }}){% endif %}

After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/openclaw gateway --allow-unconfigured
Environment="HOME=/root"
Environment="OLLAMA_API_KEY={{ openclaw_server_ollama_api_key }}"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
