---
- name: Cleanup incus_networks
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Cleanup | Check if net-mol-test network exists
      ansible.builtin.command:
        cmd: incus network list --format json
      register: cleanup_networks_raw
      changed_when: false

    - name: Cleanup | Delete net-mol-test network
      ansible.builtin.command:
        cmd: incus network delete net-mol-test
      when: "'net-mol-test' in (cleanup_networks_raw.stdout | from_json | map(attribute='name') | list)"
      changed_when: true
