---
- name: Converge
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    incus_network:
      name: net-mol-test
      subnet: "10.200.99.0/24"
      gateway: "10.200.99.254"
    domain_ephemeral: true
  roles:
    - role: incus_networks
